/* -------------------------------------
CSS Customize Code
---------------------------------------- */
/* -------------------------------------
google fonts
---------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.body-font{
    font-family: 'Poppins', sans-serif;
}
/* -------------------------------
custom carousel
---------------------------------- */
.btn-custom{
    padding: 5px 10px;
    border-radius: 9px;
    background-color: #E83A59;
    color: wheat;
    border: 2px dotted #242B2E;
    transition: 1s;
}
.btn-custom:hover{
    padding: 6px 12px;
    
}
.information-benefits-background{
    background-color: #F5FFFA;
}
.button-plan{
    background-color: #87CEFA;
    color: #191970;
}
/*----------------------------------
 pro-benefits package
 ----------------------------------- */
.pro-price{
    color: #E6E6FA;
}
.pro-benefits{
    background-color: #191970;
}
.pro-column{
    color: #CAD5E2;
}
.button-pro-plan{
    background-color: #FFFFFF;
    color: #242B2E;
}
/*----------------------------------
 pro-benefits package end
 ----------------------------------- */
/* ---------------------------------
footer start 
---------------------------------- */
.footer-custom{
    background-color: #000000;
}
.btn-play{
    background-color: #191970;
}
.play-small{
    color: #FFFFFF;
    font-size: 10px;
}
.google-play-store{
    color: #FFFFFF;
    font-size: 14px;
}
/* ---------------------------------
footer end
---------------------------------- */